<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ayurveda"
        tools:targetApi="31">
<!--        <activity-->
<!--            android:name=".EditDiagnosisForm"-->
<!--            android:exported="false" />-->
        <!-- <activity -->
        <!-- android:name=".DoctorDiagnosisForm" -->
        <!-- android:exported="false" /> -->
        <!-- <activity -->
        <!-- android:name=".DocProfilenDashboard" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".WelcomeDoctor"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".DoctorRegister" -->
        <!-- android:exported="false" /> -->
        <!-- <activity -->
        <!-- android:name=".DoctorLogin" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".UserProfile"
            android:exported="false" />
        <activity
            android:name=".DoctorProfile"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDbEtMrpESGgw6iEoP-FujLUFyrIgkt2QY" />

        <activity
            android:name=".Map"
            android:exported="false"
            android:label="@string/title_activity_map" />
        <activity
            android:name=".Home"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".WelcomeUser"
            android:exported="false" />
        <activity
            android:name=".UsersRegister"
            android:exported="false" />
        <activity
            android:name=".UsersLogin"
            android:exported="false" />
        <activity
            android:name=".EditDiagnosisForm"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>